endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

# Replace CHANGE_THIS_PASSWORD with the password of the local MySQL user.
set mysql_connection_string "mysql://fivem:Tsivolas@127.0.0.1:3306/tsivtools?charset=utf8mb4"

sv_maxclients 48

ensure oxmysql
ensure esx_lib
ensure es_extended
ensure esx_context
ensure esx_notify
ensure skinchanger
ensure esx_skin
ensure esx_identity
ensure esx_multicharacter
ensure tsivtools

add_principal identifier.license:b0bc1f2c59165d743c267b1930ab964ed2c1684c group.admin
add_ace group.admin tsivtools.owner allow

sv_hostname "TsivTools"
sets sv_projectName "TsivTools"
sets sv_projectDesc "TsivTools testing yurr"
sv_licenseKey "cfxk_1naIkHrsyLsIn6htxjlYs_1veqpP"